/*global selector*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}


/*home part*/

.home {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(28, 25, 65, .8), rgba(28, 25, 65, .8)), url(../images/banner.png);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


nav {
    padding: 15px;
    background-color: rgba(26, 27, 65, .2);
    position: fixed;
    right: 0;
    z-index: 22;
    background-color: #26BAFF;
    left: 0;
    box-shadow: 0px 4px 20px 0px #1a193e;
}

ul {
    margin: auto;
    display: table;
}

li {
    padding: 15px;
    float: left;
    display: table-cell;
    text-align: center;
    vertical-align: top;
    color: #fff;
    font-size: 14px;
}

.img {
    margin: 0 70px;
    padding: 0px;
}

.homeContent {
    width: 60%;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    text-transform: uppercase;
}

.homeContent p {
    margin-top: 30px;
    line-height: 30px;
    text-transform: capitalize;
    font-size: 21px;
    font-weight: 100;
}

.homeContent h1 {
    font-size: 98px;
    font-weight: 5px;
}

span {
    color: #26BAFF;
}

.button {

    overflow: auto;
    display: grid;
    width: 45%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    margin: 20px auto;
}

.button1 {
    background-color: #26BAFF;
    padding: 25px 40px;
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    transition: .5s all;
    border: 1px solid #26BAFF;

}

.button1 a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.button1:hover {
    background-color: transparent;
    border: 1px solid #fff;

}

.button2 {
    border: 1px solid #fff;
    padding: 25px 40px;
    float: left;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.button2::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    content: "";
    background-color: #26BAFF;
    transition: .5s all;
    z-index: -1;
}

.button2:hover {
    border: 1px solid #26BAFF;
    transition: .5s all;
}

.button2:hover:before {
    height: 100%;
    width: 100%;

}

.button2 a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    z-index: 1;
}

/*about part*/
.about {
    width: 100%;
    margin: 120px 0;
}

.aboutMain {
    width: 75%;
    margin: auto;
    overflow: auto;

}

.aboutLeft {
    width: 53%;
    float: left;
    margin-right: 2%;

}

.aboutRight {
    width: 45%;
    float: right;
    padding-top: 120px;
}

.aboutLeft h2 {
    font-size: 32px;
    font-weight: 900;
}

.underline {
    margin-top: 20px;
    height: 5px;
    width: 120px;
    background-color: #26BAFF;
    position: relative;
}

.underline::before {
    position: absolute;
    top: 0;
    right: -6%;
    height: 100%;
    width: 5px;
    background-color: #26BAFF;
    content: "";
}

.underline::after {
    position: absolute;
    top: 0;
    right: -11%;
    height: 100%;
    width: 5px;
    background-color: #26BAFF;
    content: "";
}

.aboutButton {
    overflow: auto;
    margin-top: 25px;
}

.aboutButton1:hover {
    background-color: #1a1b41;
}

.aboutButton1 a {
    font-weight: 700;
}

.aboutButton2 {
    margin-left: 10px;
    background-color: #1a1b41;
    padding: 25px 40px;
    border: 1px solid #fff;
    float: left;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    z-index: 1;
}

.aboutButton2 a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
}

.aboutButton2::before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    content: "";
    background-color: #26BAFF;
    transition: .5s all;
}


.aboutButton2:hover {
    border: 1px solid #26BAFF;
    transition: .5s all;
}

.aboutButton2:hover:before {
    height: 100%;
    border-color: #26BAFF;
    width: 100%;
}

.aboutContent {
    margin-top: 55px;
}

.aboutContent p {
    line-height: 24px;
    font-size: 14px;
    color: : #232044;
}

.abc {
    margin-top: 40px;
}

/*services part*/

.services {
    width: 100%;
    background-color: #1a1b41;
    padding: 100px 0;
}

.servicesMain {
    width: 75%;
    margin: auto;
}

.servicesMain h3 {
    color: #26BAFF;
    font-size: 14px;
}

.servicesMain h2 {
    font-weight: 900;
    font-size: 32px;
    margin-top: 30px;
    color: #fff;
}

.servicesMain p {
    margin-top: 30px;
    width: 80%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.aboutGrid {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}

.aboutGrid h3 {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 900;
}

.aboutGrid p {
    margin-top: 20px;
    line-height: 25px;
    width: 100%;
    font-size: 14px;
    font-weight: 100;
}



/*Features part*/

.features {
    width: 100%;
}

.featuresMain {
    width: 75%;
    margin: auto;
    text-align: center;
    color: #232044;
    padding: 100px 0;
}

.featuresMain h2 {
    font-size: 32px;
    font-weight: 700;

}

.featuresMain > .underline {
    margin: 20px auto;
}

.featuresMain p {
    color:
        #232044;
    font-weight: 500;
    font-size: 16px;
    width: 60%;
    margin: auto;
}

.featuresGrid {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.featuresInner {
    transition: .5s all;
    width: 100%;
    padding: 30px 0;
    position: relative;
}

.featuresInner::before {
    position: absolute;
    content: "";
    top: -4%;
    left: -3%;
    height: 0;
    width: 0;
    border-left: 1px solid #26BAFF;
    border-top: 1px solid #26BAFF;
    transition: .5s all;
}

.featuresInner:hover::before {
    height: 50%;
    width: 50%;
}

.featuresInner:hover::after {
    height: 50%;
    width: 50%;
}

.featuresInner::after {
    transition: .5s all;
    position: absolute;
    content: "";
    bottom: -4%;
    right: -3%;
    height: 0;
    width: 0;
    border-right: 1px solid #26BAFF;
    border-bottom: 1px solid #26BAFF;
}

.featuresInner:hover {
    background-color: #232044;
    color: #26BAFF;
    transition: .5s all;
}

.featuresInner:hover p {
    color: white;
}

.featuresInner h3 {
    margin-top: 20px;
}

.featuresInner p {
    margin-top: 20px;
    font-stretch: extra-condensed;
    width: 100%;
    line-height: 30px;
    font-size: 14px;
    font-weight: 100;
}

.icon {
    font-size: 70px;
}

/*portfolio part*/
.portfolio {
    padding: 120px 0;
    width: 100%;
}

.portfolioMain {
    width: 70%;
    margin: auto;
    text-align: center;
}

.porfolioUpperContent h2 {
    font-size: 32px;
    font-weight: 700;
    color: #333;
}

.porfolioUpperContent p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    width: 80%;
    margin: auto;
}

.portfolio .underline {
    margin: 20px auto;
}

.pNav {
    margin-top: 80px;
}

.pNav ul li a {
    color: #26baff;
    text-decoration: none;
    font-weight: 500;
}

.pNav ul .span {
    background-color: #26baff;
}

.pNav ul .span a {
    color: #fff;

}

.pNav ul li {
    background-color: #242047;
    margin-right: 5px;
    padding: 20px 15px;
}

/*pseudo part*/
.pseudo {
    width: 100%;
    height: 330px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 25px;
    grid-row-gap: 25px;
    margin: 50px auto 30px auto;
}

.p2 {
    margin: 0 auto 30px auto;
}

.p3 {
    margin: 0 auto;
}

.psuedoOne {
    background-image: url(../images/1.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.psuedoFour {
    background-image: url(../images/1.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.psuedoOne::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 0;
    width: 100%;
    background-color: #26BAFF;
    left: 0;
    opacity: .5;
    z-index: 1;
    transition: .3s all;
}

.psuedoFour::before {
    content: "";
    position: absolute;
    top: -3.5%;
    left: -3%;
    height: 0%;
    width: 00%;
    border-top: 2px solid purple;
    border-left: 2px solid orange;
    opacity: .5;
    z-index: 1;
    transition: .3s all;
}

.psuedoFour::after {
    content: "";
    position: absolute;
    bottom: -4%;
    right: -3%;
    height: 0%;
    width: 0%;
    border-right: 2px solid orange;
    border-bottom: 2px solid purple;
    opacity: .5;
    z-index: 1;
    transition: .3s all;
}

.psuedoFour:hover:after {
    height: 50%;
    width: 50%;
}

.psuedoFour:hover:before {
    height: 50%;
    width: 50%;
}

.psuedoOne::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #26BAFF;
    opacity: .5;
    transition: .3s all;
}

.psuedoOne:hover .pseudoContent {
    opacity: 1;
    transition: .5s all;
    top: 50%;
}

.psuedoTwo:hover .pseudoContent {
    opacity: 1;
    transition: .5s all;
    top: 50%;
}

.psuedoThree:hover .pseudoContent {
    opacity: 1;
    transition: .5s all;
    top: 50%;
}

.psuedoFour:hover .pseudoContent {
    opacity: 1;
    transition: .5s all;
    top: 50%;
}

.psuedoOne:hover:before {
    height: 50%;
    display: ;
}

.psuedoOne:hover:after {
    height: 50%;
}

.pseudoContent {
    width: 70%;
    height: 25%;
    margin: auto;
    border: 1px solid #fff;
    position: relative;
    top: 65%;
    font-size: 10px;
    text-align: center;
    transform: translateY(-50%);
    color: #fff;
    line-height: 30px;
    opacity: 0;
    z-index: 1;
}

/*

.pseudoContent::before{
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: red;
}
.pseudoContent:hover:be
*/

.pseudoContent p {
    font-size: 16px;
}

.pseudoContentInner {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}


.psuedoTwo {
    background-image: url(../images/2.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.psuedoTwo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 0%;
    background-color: #26BAFF;
    opacity: .5;
    transition: .3s all;
}

.psuedoTwo::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 00%;
    width: 0%;
    background-color: #26BAFF;
    opacity: .5;
    transition: .3s all;
}

.psuedoTwo:hover:before {
    height: 100%;
    width: 100%;
    opacity: .3;
    transition-timing-function: ease-out;
}

.psuedoTwo:hover:after {
    height: 100%;
    width: 100%;
    opacity: .3;
    transition-timing-function: ease-in-out;
}

.psuedoThree {
    background-image: url(../images/3.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.psuedoThree::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #26BAFF;
    height: 0%;
    width: 0%;
    opacity: .3;
    transition: .5s all;
}

.psuedoThree::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #111;
    height: 0%;
    width: 0%;
    opacity: .1;
    transition: .2s all;

}

.psuedoThree:hover:before {
    height: 100%;
    width: 100%;
}

.psuedoThree:hover:after {
    height: 100%;
    width: 100%;
}


/*popularity part*/

.popularity {
    width: 100%;
    background-image: linear-gradient(rgba(35, 32, 68, .8), rgba(35, 32, 68, .8)),
        url(../images/promo_bg.jpg);
    position: relative;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 200px 250px;
    text-align: center;
}

.popularity h3 {
    margin-top: 10px;
    color: #fff;
    font-size: 32px;
}

.popularity .popgrid .h3 {
    font-size: 26px;
    color: #fff;
    font-weight: 500;
}


/*team portion*/

#team {
    width: 100%;
    padding: 120px 0;
}

.teamMain {
    margin: auto;
    text-align: center;
    width: 70%;
}

.teamMain h2 {
    font-size: 32px;
    color: #333;
}

.teamMain .underline {
    margin: 20px auto;
}



.teamMain p {
    width: 68%;
    font-size: 16px;
    font-weight: 500;
    margin: auto;
}

.teamGrid {
    text-align: left;
    display: grid;
    margin-top: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 40px;

}

.teamImg {
    overflow: hidden;
}

.teamImg img {
    transition: .5s all;

}

.teamGrid1 img:hover {
    transition: .5s all;
    transform: scale(1.1);
}

.teamGrid h3 {
    font-size: 26px;
    color: #333;
    font-weight: 500;
    margin: 10px 0 5px 0;
}

.teamGrid p {
    font-size: 16px;
    margin: 0;
    font-weight: 100;
}


.teamImg img {
    width: 100%;

}


/*packages part*/

.packages {
    width: 100%;
    padding: 100px 0;
    overflow: auto;
    position: relative;
}

.packages::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
}

.packagesMain {
    width: 70%;
    margin: auto;
    overflow: auto;
}

.packagesMain .underline {
    margin: 20px auto;
}


.packagesLeft {
    width: 100%;
    display: table;
    position: relative;
    overflow: auto;
    margin: 0 0 50px 0;
}

.packagesContent {
    display: table-cell;
    text-align: center;
    vertical-align: center;
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
}

.packagesLeft h2 {
    font-size: 32px;
    color: #333;
    /* z-index: 111111111111111111; */
}

.packagesLeft p {
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    color: #232044;
}

.packagesRight {
    overflow: auto;
    z-index: 11;
    position: relative;
}

.packagesInner {
    margin: auto;
    overflow: auto;
    width: calc(0% + 320px * 3);
    /* display: table-row-group; */
}

.packagesOne {
    height: 500px;
    width: 320px;
    background-color: #FcFcFc;
    float: left;
    position: relative;
    top: 25px;
    /* left: 100px; */
    z-index: -2;
    text-align: center;
    overflow: hidden;
    padding: 30px 0;
}

.packagesOne::after {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.packagesOne:hover {
    transform: scale(1.1);
    background-color: red;
}

.packagesOneContent {}

.packagesOne::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    border-radius: 75px;
    height: 30%;
    width: 80%;
    background-color: #26baff;
    z-index: -1;
    transform: translate(-6%, -15%) rotate(30deg);
    opacity: .5;
}

.packagesOne ul {}

.packagesOne ul li {
    padding: 10px;
    color: #999 !important;
    font-weight: 500 !important;
}

.packagesOne a {
    border: 2px solid #A5E0FC !important;
    color: #999 !important;
}

.packagesTwo {
    float: left;
    height: 555px;
    width: 320px;
    background-color: #fff;
    z-index: 222;
    text-align: center;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.packagesTwo::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    border-radius: 75px;
    height: 30%;
    width: 80%;
    background-color: #26baff;
    z-index: -1;
    transform: translate(-6%, -15%) rotate(30deg);
}

.packagesInner h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}

.packagesInner h4 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}

.packagesInner span {
    color: #fff;
    font-size: 16px;
}

.packagesInner ul {
    margin-top: 50px;
}

.packagesInner ul li {
    float: none;
    font-size: 16px;
    font-weight: 600;
    color: #111;
    display: block;
}

.packagesInner a {
    text-align: center;
    display: block;
    border: 2px solid #26BAFF;
    border-radius: 5px;
    font-size: 14px;
    width: 50%;
    margin: auto;
    padding: 14px 0;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    transition: .5s all;
    margin-top: 10px;
}

.packagesInner a:hover {
    background-color: #26baff;
    color: #fff;
    transition: .5s all;
}

.packagesThree {
    height: 500px;
    width: 320px;
    background-color: #FcFcFc;
    float: left;
    position: relative;
    top: 25px;
    /* right: 100px; */
    z-index: -2;
    text-align: center;
    overflow: hidden;
    padding: 30px 0;
}

.packagesOneContent {}

.packagesThree::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    border-radius: 75px;
    height: 30%;
    width: 80%;
    background-color: #26baff;
    z-index: -1;
    transform: translate(-6%, -15%) rotate(30deg);
    opacity: .5;
}

.packagesThree ul {}

.packagesThree ul li {
    padding: 10px;
    color: #999;
    font-weight: 500;
}

.packagesThree a {
    border: 2px solid #A5E0FC;
    color: #999;
}





/*scroll bar part*/
.scroll {
    width: 100%;
    height: 90%;
    overflow: scroll;
    overflow: hidden;

}

#scrollOne {
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(rgba(35, 32, 68, .7), rgba(35, 32, 68, .7)), url(../images/review_bg.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    background-attachment: fixed;

}

#scrollTwo {
    background-color: grey;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(rgba(35, 32, 68, .7), rgba(35, 32, 68, .7)), url(../images/review_bg.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    background-attachment: fixed;
}

#scrollThree {
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(rgba(35, 32, 68, .7), rgba(35, 32, 68, .7)), url(../images/review_bg.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    background-attachment: fixed;
}

.scrollContent {
    width: 60%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.scrollContent h5 {
    font-weight: 100;
    letter-spacing: 1px;
}

.scrollContent p {
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
}

.s {
    height: 10px;
    width: 45px;
    margin: 20px auto;
}

.s a {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    font-size: 10px;
    background-color: #fff;
    float: left;
    overflow: hidden;
    margin-right: 5px;
    color: #fff;
}

.s a:hover {
    transform: scale(1.3);
}



/*recent part*/
.recent {
    width: 100%;
    padding: 120px 0;
    background-color: #f6f6f6;
}

.recentMain {
    width: 70%;
    margin: auto;
    text-align: center;

}

.recentMain .underline {
    margin: 20px auto;
}

.recentMain h2 {
    color: #232044;
    font-size: 32px;
    text-align: center;
}

.recentMain p {
    color: #232044;
    font-size: 16px;
    width: 70%;
    margin: auto;
    font-weight: 500;
}

.recentGrid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.recentImg {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid lightgrey;
    color: #232044;
    transition: .3s all;
}

.recentImg:hover {
    transition: .5s all;
    box-shadow: 0px 0px 20px 0px grey;
}

.recentImg h3 {
    font-size: 22px;
    font-weight: 100;
    width: 80%;
    margin: 20px auto;
}

.recentImg p {
    font-size: 14px;
    width: 90%;
    margin: auto;
    font-weight: 100;
    line-height: 1.8;
}

.recentButton a {
    background-color: #26BAFF;
    padding: 20px 30px;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #26BAFF;
    margin: 20px;
    position: relative;
    z-index: 1;
    transition: .2s all;
}

.recentButton a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    z-index: -1;
    transition: .5s all;

}

.recentButton a:hover {
    border: 1px solid #26BAFF;
    color: #26BAFF;
    transition: .2s all;
}

.recentButton a:hover:before {
    width: 100%;

    border-radius: 5px;
    border: 1px solid #26BAFF;
}

/*contact part*/
.contact {
    width: 100%;
    padding: 120px 0;
}

.contactMain {
    width: 70%;
    margin: auto;
    text-align: center;
}

.contactMain h2 {
    color:
        #232044;
    font-size: 32px;
}

.contactMain p {
    width: 67%;
    margin: auto;
    font-weight: 500;
    font-size: 16px;
}

.contactMain .underline {
    margin: 20px auto;
}

/*form part*/
.form {
    margin: 100px 0;
    padding: 50px;
    box-shadow: 0px 0px 16px 0px #333;
    width: 100%;
    overflow: auto;
}

form {
    width: 50%;
    text-align: left;
    float: left;
}

form h4 {
    font-size: 22px;
    color: #5b6b7a;
    font-weight: 500;
}

input {
    margin: 20px 0;
    width: 100%;
    border: none;
    font-size: 14px;
    color: #7876aa;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #333;
}

::placeholder {
    font-size: 16px;
    color: #bdbcd6;
    letter-spacing: .2px;
    word-spacing: 2px;
}

input:focus {
    outline: none;
}

textarea {
    width: 100%;
    font-size: 14px;
    border: 1px solid #333;
    color: #7876aa;
    margin: 20px 0;
    padding: 15px;
    line-height: 1.3
}

textarea:focus {
    outline: none;
}

form .formButton {
    width: auto;
    margin: 0;
    padding: 20px 30px;
    background-color: white;
    border: 1px solid #333;
    font-size: 14px;
    text-transform: uppercase;
    color: #5b6b7a;
    font-weight: 400;
}


.contactRight {
    overflow: auto;
    float: left;
    padding: 50px;
    width: 50%;
    height: 100%;
    text-align: left;
    font-size: 50px;
    color: #5b6b7a;
}

i {
    float: left;
}

.phone {
    padding: 30px;
    overflow: auto;
    vertical-align: middle;
    position: relative;
}

.phone p {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(50px, -50%);
}

.phone:hover {
    box-shadow: 0px 0px 20px 0px #333;
    transition: .5s all;
}

/*footer part*/
.footer{
    width: 100%;
    font-size: 18px;
    background-color: #242047;
    color: #fff;
    font-weight: 500;
    padding: 50px 0;
}
.footerMain{
    width: 70%;
    overflow: auto;
    margin: auto;
}
.footerMain p{
    float: left;
}
.footer ul{
    float: right;
}
.footer ul li{
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    padding: 15px 17px;
}
.footer ul li a{
    color: #fff;
}









